streamlit
PyPDF2
numpy
scipy
scikit-learn
google-auth
google-auth-oauthlib
google-cloud
google-cloud-storage
google-cloud-translate
transformers
torch==1.13.1
jsonschema
pandas
Flask
fastapi
uvicorn
tqdm